<!DOCTYPE html>
<html>
<head>
    <title>Vilniaus rajono autobusų tvarkaraščiai. 101A maršrutas</title>    
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div class="sidenav">
        <img src="static/media/rajonas.jpg" width="196px"> 

        <a href="/"><b>Informacija</b></a>
        <a href="/kryptys"><b>Kryptys ir maršrutai</b></a>
        <a href="/link"><b>Nuorodos</b></a>

        <p class="copyright">© Gediminas Klingenschmitt</p>
    </div>

    <div class="main">
        <h1>Vilniaus rajono autobusų tvarkaraščiai</h1>
            
        <p><a class="button">101A</a><b>Vilnius (Spaudos rūmai)–Geležiai–Zujūnai</b></p>

        <table>
            <tr>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>nuo 2024.06.10</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
                <th>D.D.</th>
            </tr>
            <tr>
                <td>06:15</td>
                <td>06:55</td>
                <td>08:00</td>
                <td>08:40</td>
                <td>14:25</td>
                <td>15:10</td>
                <td>16:35</td>
                <td>17:30</td>
                <td class="t">Spaudos rūmai</td>
                <td>06:49</td>
                <td>07:41</td>
                <td>08:38</td>
                <td>09:18</td>
                <td>15:00</td>
                <td>15:46</td>
                <td>17:15</td>
                <td>18:13</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="t">Kaukaro st.</td>
                <td>06:45</td>
                <td>07:38</td>
                <td>08:36</td>
                <td>09:16</td>
                <td>14:58</td>
                <td>15:43</td>
                <td>17:12</td>
                <td>18:10</td>
            </tr>
            <tr>
                <td>06:19</td>
                <td>06:59</td>
                <td>08:05</td>
                <td>08:45</td>
                <td>14:30</td>
                <td>15:15</td>
                <td>16:44</td>
                <td>17:39</td>
                <td class="t">Pilaitė</td>
                <td>06:42</td>
                <td>07:28</td>
                <td>08:34</td>
                <td>09:14</td>
                <td>14:56</td>
                <td>15:41</td>
                <td>17:10</td>
                <td>18:07</td>
            </tr>
            <tr>
                <td>06:20</td>
                <td>07:01</td>
                <td>08:07</td>
                <td>08:47</td>
                <td>14:32</td>
                <td>15:17</td>
                <td>16:46</td>
                <td>17:41</td>
                <td class="t">Smalinės st.</td>
                <td>06:40</td>
                <td>07:24</td>
                <td>08:31</td>
                <td>09:11</td>
                <td>14:54</td>
                <td>15:39</td>
                <td>17:08</td>
                <td>18:05</td>
            </tr>
            <tr>
                <td>06:21</td>
                <td>07:02</td>
                <td>08:08</td>
                <td>08:48</td>
                <td>14:33</td>
                <td>15:18</td>
                <td>16:47</td>
                <td>17:42</td>
                <td class="t">Įsruties st.</td>
                <td>06:39</td>
                <td>07:22</td>
                <td>08:30</td>
                <td>09:10</td>
                <td>14:53</td>
                <td>15:38</td>
                <td>17:07</td>
                <td>18:04</td>
            </tr>
            <tr>
                <td>06:22</td>
                <td>07:03</td>
                <td>08:09</td>
                <td>08:49</td>
                <td>14:35</td>
                <td>15:20</td>
                <td>16:48</td>
                <td>17:44</td>
                <td class="t">Pajautos st.</td>
                <td>06:38</td>
                <td>07:21</td>
                <td>08:28</td>
                <td>09:08</td>
                <td>14:52</td>
                <td>15:37</td>
                <td>17:06</td>
                <td>18:03</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="t">Padekaniškės</td>
                <td>06:37</td>
                <td>07:20</td>
                <td>08:26</td>
                <td>09:06</td>
                <td>14:51</td>
                <td>15:36</td>
                <td>17:05</td>
                <td>18:02</td>
            </tr>
            <tr>
                <td>06:24</td>
                <td>07:04</td>
                <td>08:10</td>
                <td>08:50</td>
                <td>14:38</td>
                <td>15:23</td>
                <td>16:51</td>
                <td>17:48</td>
                <td class="t">Vėluvos st.</td>
                <td>06:35</td>
                <td>07:16</td>
                <td>08:22</td>
                <td>09:02</td>
                <td>14:50</td>
                <td>15:34</td>
                <td>17:03</td>
                <td>17:59</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="t">Varnės st.</td>
                <td>06:33</td>
                <td>07:13</td>
                <td>08:19</td>
                <td>08:59</td>
                <td>14:47</td>
                <td>15:32</td>
                <td>17:00</td>
                <td>17:57</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="t">Gelažių st.</td>
                <td>06:30</td>
                <td>07:10</td>
                <td>08:16</td>
                <td>08:56</td>
                <td>14:45</td>
                <td>15:30</td>
                <td>16:58</td>
                <td>17:54</td>
            </tr>
            <tr>
                <td>06:27</td>
                <td>07:06</td>
                <td>08:12</td>
                <td>08:52</td>
                <td>14:40</td>
                <td>15:25</td>
                <td>16:53</td>
                <td>17:50</td>
                <td class="t">Smėlio 1-oji st.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>06:28</td>
                <td>07:08</td>
                <td>08:14</td>
                <td>08:54</td>
                <td>14:43</td>
                <td>15:28</td>
                <td>16:55</td>
                <td>17:52</td>
                <td class="t">Smėlio 2-oji st.</td>
                <td>06:28</td>
                <td>07:08</td>
                <td>08:14</td>
                <td>08:54</td>
                <td>14:43</td>
                <td>15:28</td>
                <td>16:55</td>
                <td>17:52</td>
            </tr>
            <tr>
                <td class="bl" colspan="6">SĮ „Vilniaus rajono autobusų parkas“</td>
                <td class="bl"></td>
                <td class="bl"></td>
                <td class="bl"></td>
                <td class="bl"></td>
                <td class="bl"></td>
                <td class="br" colspan="6">Maršrutas aptarnaujamas mikroautobusais.
                </td>
                </tr>
        </table>

        <h3>Istorija</h3>

        <p><span class="d2">2015.07.01</span> – maršrutas panaikintas.</p>
        <p><span class="d1">2024.01.15</span> – trijų mėnesių bandomajam laikotarpiui atidarytas maršrutas Spaudos rūmai–Geležiai–Zujūnai. Po sėkmingų bandymų maršruto veikla tęsiama.</p>
        
    </div>
    
</body>
</html>