<!DOCTYPE html>
<html>
<head>
    <title>Vilniaus rajono autobusų tvarkaraščiai</title>    
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div class="sidenav">
        <img src="static/media/rajonas.jpg" width="196px"> 

        <a style="color: lime;" href="/"><b>Informacija</b></a>
        <a href="/kryptys"><b>Kryptys ir maršrutai</b></a>
        <a href="/link"><b>Nuorodos</b></a>

        <p class="copyright">© Gediminas Klingenschmitt</p>
    </div>

    <div class="main">
        <h1>Vilniaus rajono autobusų tvarkaraščiai</h1>
        
        <h2>Informacija</h2>

        <p>Nuo š.m. lapkričio 16 d. Vilniaus rajono savivaldybė piktybiškai atsisako skelbti priemiestinių autobusų tvarkaraščius Excel formatu savo svetainėje.</p>
        <p>Vietoj to, pateikiamos nuorodos į vežėjų svetaines bei siūloma atsisiųsti programėlę „Trafi“.</p>
        <p>Verta paminėti, kad tiek patys vežėjai, tiek „Trafi“ labai dažnai neatnaujina tvarkaraščių, pateikia juos nepatogiai, po vieną stotelę, įvelia klaidų bei nerodo kilometražo, 
            pagal kurį apskaičiuojamos bilietų kainos, dėl ko jį vertinga žinoti bet kuriam žmogui, keliaujančiam Vilniaus rajono priemiestiniais autobusais nereguliariai.</p>
        <p>Atsižvelgiant į šį neracionalų sprendimą, aktualūs Vilniaus rajono autobusų tvarkaraščiai pateikiami šioje savadarbėje svetainėje.</p>
        <br>
        <p>Kad pamatytumėte tvarkaraščius, <b>kairiojoje juostoje</b> pasirinkite skiltį <b>kryptys ir tvarkaraščiai</b>.</p>
        <p>Skiltyje <b>nuorodos</b> rasite nuorodas į vežėjų ir viešojo transporto organizuotojų svetaines.</p>
        <br>
        <p><i>Tvarkaračių informacija atnaujinta 2024 m. lapkričio 29 d.</i></p>
    </div>
    
</body>
    
</html>