<!DOCTYPE html>
<html>
<head>
    <title>Vilniaus rajono autobusų tvarkaraščiai. Kryptys ir maršrutai</title>    
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div class="sidenav">
        <img src="static/media/rajonas.jpg" width="196px"> 

        <a href="/"><b>Informacija</b></a>
        <a style="color: lime;" href="/kryptys"><b>Kryptys ir maršrutai</b></a>
        <a center;" href="/link"><b>Nuorodos</b></a>

        <p class="copyright">© Gediminas Klingenschmitt</p>
    </div>

    <div class="main">
        <h1>Vilniaus rajono autobusų tvarkaraščiai</h1>
        <h2>Čekoniškių kryptis</h2>
        
        <p><a class="button" href="/101">101</a><a href="/101">Vilnius (Spaudos rūmai)–Čekoniškės–Rastinėnai</a></p>
        <p><a class="button" href="/101A">101A</a><a href="/101A">Vilnius (Spaudos rūmai)–Geležiai–Zujūnai</a></p>

        <br>
        <p><i>Tvarkaraščių informacija yra ruošiama ir kol kas dar ne baigtinė.</i></p>
    </div>
    
</body>
    
</html>