<!DOCTYPE html>
<html>
<head>
    <title>Vilniaus rajono autobusų tvarkaraščiai. Naudingos nuorodos</title>    
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div class="sidenav">
        <img src="static/media/rajonas.jpg" width="196px"> 

        <a href="/"><b>Informacija</b></a>
        <a href="/kryptys"><b>Kryptys ir maršrutai</b></a>
        <a style="color: lime;" href="/link"><b>Nuorodos</b></a>

        <p class="copyright">© Gediminas Klingenschmitt</p>
    </div>

    <div class="main">
        <h1>Vilniaus rajono autobusų tvarkaraščiai</h1>
        <h2>Naudingos nuorodos</h2>
        
        <ul>
            <li><a href="https://vrsa.lt/savivaldybe/veiklos-sritys/viesasis-transportas/1347" target="_blank">Vilniaus rajono savivaldybė. Viešojo transporto informacija</a></li>
            <li><a href="https://www.vrap.lt/" target="_blank">Savivaldybės įmonė „Vilniaus rajono autobusų parkas“</a></li>
            <li><a href="https://www.bustur.lt/maisiagalos-kryptis/" target="_blank">Uždaroji akcinė bendrovė „Šalčininkų autobusų parkas“</a></li>
            <li><a href="https://toks.lt/" target="_blank">Uždaroji akcinė bendrovė „TOKS“</a></li>
        </ul>
    </div>
    
</body>
    
</html>